<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.chat.board.mapper.BoardMapper">
		
	<select id="list" resultType="com.project.chat.board.BoardVO">
		select 
			* 
		from (
			select 
				rownum num,
				b.* 
			from (
				select 
					*  
				from 
					board 
					<include refid="search" />
				order by 
					boardGroup desc,
					boardSeq asc
				) b
			)
		 WHERE 
		 	NUM 
	 	BETWEEN #{rowStart} AND #{rowEnd}
	</select>  
	
	<insert id="write" parameterType="com.project.chat.board.BoardVO">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			select 
				se_board_seq.nextval 
			from
				DUAL
		</selectKey>
		insert into 
			board (
				seq, 
				writer, 
				title, 
				content, 
				regDate,
				boardGroup, 
				boardSeq, 
				boardLevel
			) 
			values (
				#{seq}, 
				#{writer}, 
				#{title}, 
				#{content}, 
				sysdate,
				(select NVL(max(boardGroup)+1, 0) from board),
				0, 
				0
			) 
	</insert> 
	
	<insert id="reply" parameterType="com.project.chat.board.BoardVO">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			select se_board_seq.nextVal from dual
		</selectKey>
		insert into
			board (
				seq,
				title,
				writer,
				content,
				hit,
				boardGroup,
				boardSeq,
				boardLevel
			)
		values (
			#{seq},
			#{title},
			#{writer},
			#{content},
			0,
			#{boardGroup},
			#{boardSeq} + 1,
			#{boardLevel}+1 
		)
			
	</insert>
	
	<update id="replyUp" parameterType="com.project.chat.board.BoardVO">
		update 
			board
		set
			boardSeq = boardSeq + 1
		where
			boardGroup = #{boardGroup}
		and
			boardSeq > #{boardSeq}
	</update> 
	
	<select id="selectBoard" resultType="com.project.chat.board.BoardVO" parameterType="int">
		select  
			* 
		from 
			board 
		where 
			seq = #{seq}
	</select>
	 
	<update id="updateBoard" parameterType="com.project.chat.board.BoardVO">
		update 
			board 
		set 
			title=#{title}, 
			writer=#{writer}, 
			content=#{content} 
		where 
			seq = #{seq}
	</update>
	
	<delete id="deleteBoard" parameterType="int"> 
		delete from 
			board 
		where 
			seq = #{seq}
	</delete>
	
	<select id="totalCount" resultType="int">
		select 
			count(*) 
		from 
			board 
		<include refid="search" />
	</select>
	<!-- board 조회수 증가 -->
	<update id="hitUp" parameterType="int">
		update 
			board 
		set 
			hit = hit+1 
		where 
			seq = #{seq}
	</update>
	<!-- board_hit 조회수 증가 ()-->
	<insert id="boardHit" parameterType="hashMap">
		insert into
			board_hit (
				hit_seq,
				hit_writer,
				hit_replyer
			)
		values (
			#{hit_seq},
			#{hit_writer},
			#{hit_replyer}
		)
	</insert>
	<select id="selectHitSeq" parameterType="hashMap" resultType="int">
		select
			count(*)
		from
			board_hit
		where
			hit_seq = #{hit_seq}
		and
			hit_replyer = #{hit_replyer}
	</select>
	<!-- board 조회수 증가 -->
	<update id="hitUp2" parameterType="int">
		update
			mp_board
		set
			hit = hit + 1
		where
			seq = #{seq}
	</update>
	
	<select id="selectHitSeq2" parameterType="hashMap" resultType="int"> 
		select
			count(*)
		from
			board_hit 
		where
			hit_seq = #{hit_seq}
		and
			hit_replyer = #{hit_replyer}
	</select>
	
	<select id="fileList" resultType="com.project.chat.board.BoardVO">
		SELECT 
			* 
		FROM (
				SELECT 
					rownum AS num, 
					s.* 
				FROM (
					SELECT 
						b.* 
					FROM 
						mp_board b 
					<include refid="search" />
					ORDER BY 
						BOARDGROUP DESC, BOARDSEQ
			) s
		) sub
		WHERE 
			sub.num 
		BETWEEN 
			#{rowStart} 
		AND 
			#{rowEnd}
	</select> 
	
	<insert id="fileWrite" parameterType="com.project.chat.board.BoardVO" useGeneratedKeys="true" keyProperty="seq">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
			select MP_BOARD_SEQ.NEXTVAL from dual
		</selectKey>
		insert into 
			mp_board (
				seq, 
				writer, 
				title, 
				content, 
				regDate,
				boardGroup, 
				boardSeq, 
				boardLevel
			) 
			values (
				#{seq}, 
				#{writer}, 
				#{title}, 
				#{content}, 
				sysdate,
				(select NVL(max(boardGroup)+1, 0) from mp_board),
				0, 
				0
			) 
	</insert>
	
	<insert id="insertFile" parameterType="hashMap">
		<selectKey keyProperty="file_no" resultType="int" order="BEFORE">
			select seq_mp_file_no.nextVal from dual
		</selectKey>
		insert into 
			mp_file (
				file_no,
				seq,
				org_file_name,
				stored_file_name,
				file_size,
				regDate
			) 
			values (
				#{file_no},
				#{seq},
				#{org_file_name},
				#{stored_file_name},
				#{file_size},
				sysdate
			)
	</insert> 
	
	<select id="totalFileCount" resultType="int">
		select 
			count(*) 
		from 
			mp_board 
		<include refid="search" />
	</select>
	
	<select id="selectBoardFile" parameterType="int" resultType="com.project.chat.board.BoardVO">
		select
			mp_board.*,
			mp_file.org_file_name,
			mp_file.stored_file_name
		from
			mp_board
		left join 
			mp_file
		on
			mp_board.seq = mp_file.seq
		where
			mp_board.seq = #{seq}
	</select>
	
	
	<insert id="reply2" parameterType="com.project.chat.board.BoardVO">
		<selectKey keyProperty="seq" resultType="int" order="BEFORE">
				select MP_BOARD_SEQ.NEXTVAL from dual
		</selectKey>
		insert into
			mp_board(
				  seq
				, title
				, content
				, writer 
				, regDate
				, hit
				, boardGroup
				, boardSeq
				, boardLevel
			)
		values (
			  #{seq}
			, #{title}
			, #{content}
			, #{writer}
			, sysdate
			, 0 
			, #{boardGroup}
			, #{boardSeq} + 1 
			, #{boardLevel} + 1
		)

			
	</insert>
	
	<update id="replyUp2" parameterType="com.project.chat.board.BoardVO">
		update
			mp_board
		set
			boardSeq = boardSeq + 1
		where 
			boardGroup = #{boardGroup}
		and
			boardSeq > #{boardSeq} 
	</update>
	<select id="selectBoard2" resultType="com.project.chat.board.BoardVO">
		select
			*
		from
			mp_board
		left join
			mp_file
		on
			mp_board.seq = mp_file.seq
		where
			mp_board.seq = #{seq} 
	</select>
	
	<update id="updateBoard2" parameterType="com.project.chat.board.BoardVO">
		update 
			mp_board
		set
			title = #{title},
			content = #{content}
		where
			seq = #{seq}
	</update>
	<delete id="deleteBoard2" >
		delete from
			mp_board	
		where 
			seq = #{seq12312} 
	</delete>
	<delete id="deleteBoardFile" >
		delete from
			mp_file	
		where 
			seq = #{seq}
	</delete> 
	<delete id="deleteBoardFileAll" parameterType="int">
		delete from
			mp_file	
		where 
			boardGroup = #{boardGroup}
	</delete>
	<select id="selectFile" resultType="com.project.chat.board.BoardVO">
		select
			*
		from
			mp_file
		where 
			seq = #{seq}
	</select>
	<delete id="deleteBoardComment" parameterType="int">
		delete from
			mp_board
		where 	
			boardGroup = #{boardGroup}
	</delete>
	<sql id="search"> 
		<if test="searchType == ''"></if>
		<if test="searchType == 'all'">  
			where 
				title 
			like 
				'%'||#{keyword}||'%' 
			or 
				content like '%'||#{keyword}||'%' 
		</if>
		
		<if test="searchType == 'title'"> 
			where  
				title 
			like 
				'%'||#{keyword}||'%'
		</if>
		
		<if test="searchType == 'content'">
			where 
				content 
			like 
				'%'||#{keyword}||'%' 
		</if>
	</sql>
</mapper>