@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&subset=korean');

/* Type Selector */
/* * {-webkit-text-size-adjust:none; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;} */
html,body {width:100%; height:100%; margin:0; padding:0; font-size:100%; -webkit-text-size-adjust: 100%;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0; padding:0;}
body {font-weight:400; font-family:'Noto Sans KR', '맑은 고딕', 'malgun gothic', 'AppleSDGothicNeo-Regular', '돋움', 'dotum', sans-serif; font-size:1em; line-height:1.25; color:#666;}
table {table-layout:fixed; width:100%; border:0; border-spacing:0; border-collapse:collapse; }
table caption,
form legend{visibility:hidden;width:0;height:0;line-height:0;font-size:0;}
button::-moz-focus-inner {padding:0;border:0;}
button, 
input[type=submit], 
input[type=reset], 
input[type=button] {overflow:visible; margin:0; padding:0; border:0; border-radius:0; cursor:pointer; background:transparent;}
input[type=checkbox] {-webkit-appearance:checkbox;}
input[type=image]{vertical-align:top;}
input, 
select, 
textarea, 
button {font-family:'Noto Sans KR', '맑은 고딕', 'malgun gothic', 'AppleSDGothicNeo-Regular', '돋움', 'dotum', sans-serif; font-size:100%; border-radius:0; color:#666; outline:none;}
input::placeholder, 
textarea::placeholder{color:#ccc;}
input{-webkit-appearance: none;}
li {list-style:none;}
img, 
fieldset {border:none; vertical-align:top;}
hr {display:none;}
em, 
address, 
cite {font-style:normal;}

a, a:link {text-decoration:none; color:inherit; color:#666;}
a:visited {text-decoration:none;}
a:hover, a:focus {text-decoration:none;}
a:active {text-decoration:none;}
