@CHARSET "UTF-8";

button{outline:none;}
li {display:inline-block; vertical-align:top; list-style: none; padding: 6px;}
input[type=text],
input[type=password],
input[type=tel],
select,
textarea{display: inline-block; min-width:70px; height: 40px; line-height: 40px; padding: 2px 2px 2px 10px; border: 1px solid #d9d9d9; color: #8F8F91; box-sizing:border-box;} 
textarea{display:block; width:100%; height:100px; line-height:23px;}
.input_area input{width:100%;}
.input_area .type_small{width:250px;}
.input_area ~ .input_area{margin-top: 5px; }
.input_area .join_title{margin-bottom:10px;}

.btn_area .btn_common{display: inline-block; position: relative; width: 100%; height: 60px; line-height: 60px; font-size: 16px; color:#fff; border: 1px solid #3a4050; border-radius: 3px; background: #3a4050; text-align: center; outline: none; text-decoration: none;}
.btn_area .btn_gray{background: #8c8c8c; border: 0 none;}
.btn_area .btn_common ~ .btn_common{margin-top: 5px;}

/* 로그인 */
.login{margin: 150px auto 0; display: block; width: 400px;}
.login .title{text-align: center;} 
.login > form{margin-top: 30px;}
.login .btn_area{margin-top:10px;}

.login_btn_area{margin-top: 5px;}
.login_btn_area .save_id{font-size: 12px;}
.login_btn_area .find_area{margin-top: 5px;}
.login_btn_area .find_area button{background: 0 none; border: 0; font-size: 12px; outline: none;}

/* 공통 헤더 */
.header{margin: 0 auto; padding: 50px 0; width: 1300px; }
.header .headerInner{ position: relative;}
.header .headerInner .logo{ text-align: center;}
.header .headerInner .logo a{font-size: 18px; line-height: 20px; letter-spacing: -0.5px; color: #000; font-weight: bold; text-decoration: none;}
.header .headerInner .leftMenu{position: absolute; left: 0; top: 0; font-size: 0;}
.header .headerInner .leftMenu > li{display: inline-block; vertical-align: top;}
.header .headerInner .leftMenu > li a{display: block; text-decoration: none; padding: 10px 10px 0; margin: 0; letter-spacing: 1px; font-size: 12px; color: #000; font-weight: normal;}
.header .headerInner .rightMenu{position: absolute; right: 0; top: 0; font-size: 0;}
.header .headerInner .rightMenu > li{display: inline-block; vertical-align: top;}
.header .headerInner .rightMenu > li a,
.header .headerInner .rightMenu > li span{display: block; text-decoration: none; padding: 10px 10px 0; margin: 0; letter-spacing: 1px; font-size: 12px; color: #000; font-weight: normal;}
.header .headerInner .rightMenu > li span em{font-style: normal; color:dodgerblue}

/* 게시판 */
.boardArea{margin-top:30px; padding:0 20px;}
.boardArea table{width:100%;}
.boardArea th {padding: 11px 0 12px; font-size: 15px; line-height: 17px; font-weight: 500; border: 1px solid #e8e8e8; border-bottom: 0 none; background: #e2f0f3;}
.boardArea td {font-size: 14px; line-height: 17px; font-weight: 400; border-left: 1px solid #e8e8e8; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; padding: 10px 5px; text-align:center;}
.boardArea .pagination{width:100%;text-align:center; box-sizing:border-box; padding:0;}
.tableArea{margin-top:10px;}
.btnArea {margin-top:10px; text-align:right;}
.btnArea button,
.btnArea a{display:inline-block; vertical-align:top; margin-left:10px; padding: 0 20px; height:30px; line-height:30px; text-align:center; background:#26aae1; color:#fff;}
.searchArea button{display:inline-block; vertical-align:top; padding: 0 20px; height: 40px; line-height: 40px; text-align: center; background: #26aae1; color: #fff;}

.boardDetail{width:700px; margin:50px auto 0 ; padding:10px 10px 20px; border:1px solid #ddd; box-shadow: 0 0 2px rgb(0 0 0 / 45%);}
.boardDetail .titleArea{} 
.boardDetail .titleArea .title{height:50px; line-height:50px; padding: 0 10px; box-sizing:border-box;}
.boardDetail .writerArea{border-top:1px solid #ddd;position:relative; height:50px; line-height:50px; padding: 0 150px 0 10px; box-sizing:border-box;}
.boardDetail .writerArea > span{position:absolute; right:0; top:0; padding: 0 20px; height:50px; line-height:50px;}

.boardDetail .contentArea{border-top:1px solid #ddd; height: 400px; padding: 10px; box-sizing:border-box;}

.boardInputArea label{display:inline-block; height: 40px; line-height: 40px;}

/* 회원가입 */
.formArea{margin:50px auto; width:1000px; padding:20px;}
.formArea input{margin-bottom:10px;}
.formArea h2{margin-bottom: 30px; text-align:center;}
.formArea .btn_check{display:inline-block; vertical-align:top; margin-left:10px; background:#4588d7; border: 0 none; padding: 0 20px; height:40px; line-height:40px; color:#fff;}

/* 공통 팝업 */
#pop{z-index:100; display:none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background:rgba(0,0,0,0.3);}
#pop.on{display:block;}
#pop .pop_in{z-index:101;position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);padding: 30px;width: 400px;border: 1px solid #ccc;background: #fff;box-sizing: border-box;}
#pop .pop_in .title{font-size: 20px; color: #000;}
#pop .pop_in .input_wrap{margin-top: 15px;}
#pop .pop_in .input_wrap input{display: inline-block; margin-top: 10px; width: 100%; height: 40px; line-height: 40px; padding: 0 10px; box-sizing: border-box; border: 1px solid #ddd; font-size: 13px; color: #000;}
#pop .pop_in .input_wrap label{display: inline-block; width: 100%; font-size: 13px; color: #000;}
#pop .pop_in .btn_area{margin-top: 30px;}
#pop .pop_in .btn_area .btn_common{display: inline-block; height: 60px; line-height: 60px; text-align: center; font-size: 15px; font-weight: 500;}
#pop .pop_in .btn_area .btn_common ~ .btn_common{margin-top: 5px;}

