@CHARSET "UTF-8";

button {
	outline: none;
}

li {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	padding: 6px;
}

input[type=text], input[type=password], input[type=tel], select,
	textarea {
	display: inline-block;
	min-width: 70px;
	height: 40px;
	line-height: 40px;
	padding: 2px 2px 2px 10px;
	border: 1px solid #d9d9d9;
	color: #8F8F91;
	box-sizing: border-box;
}

textarea {
	display: block;
	width: 100%;
	height: 100px;
	line-height: 23px;
}

.input_area input {
	width: 100%;
}

.input_area .type_small {
	width: 250px;
}

.input_area ~ .input_area {
	margin-top: 5px;
}

.input_area .join_title {
	margin-bottom: 10px;
}

.btn_area .btn_common {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	color: #fff;
	border: 1px solid #3a4050;
	border-radius: 3px;
	background: #3a4050;
	text-align: center;
	outline: none;
	text-decoration: none;
}

.btn_area .btn_gray {
	background: #8c8c8c;
	border: 0 none;
}

.btn_area .btn_common ~ .btn_common {
	margin-top: 5px;
}

/* 로그인 */
.login {
	margin: 150px auto 0;
	display: block;
	width: 400px;
}

.login .title {
	text-align: center;
}

.login>form {
	margin-top: 30px;
}

.login .btn_area {
	margin-top: 10px;
}

.login_btn_area {
	margin-top: 5px;
	position:relative;
}

.login_btn_area .save_id {
	font-size: 12px;
}

.login_btn_area .find_area {
	position:absolute;
	right:0;
	top:0;
	line-height:0; 
}

.login_btn_area .find_area button {
	background: 0 none;
	border: 0;
	font-size: 12px;
	outline: none;
}

/* 공통 헤더 */
.header {
	margin: 0 auto;
	padding: 50px 0;
	width: 1300px;
}

.header .headerInner {
	position: relative;
}

.header .headerInner .logo {
	text-align: center;
}

.header .headerInner .logo a {
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.5px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.header .headerInner .leftMenu {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0;
}

.header .headerInner .leftMenu>li {
	display: inline-block;
	vertical-align: top;
}

.header .headerInner .leftMenu>li a {
	display: block;
	text-decoration: none;
	padding: 10px 10px 0;
	margin: 0;
	letter-spacing: 1px;
	font-size: 12px;
	color: #000;
	font-weight: normal;
}

.header .headerInner .rightMenu {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0;
}

.header .headerInner .rightMenu>li {
	display: inline-block;
	vertical-align: top;
}

.header .headerInner .rightMenu>li a, .header .headerInner .rightMenu>li span
	{
	display: block;
	text-decoration: none;
	padding: 10px 10px 0;
	margin: 0;
	letter-spacing: 1px;
	font-size: 12px;
	color: #000;
	font-weight: normal;
}

.header .headerInner .rightMenu>li span em {
	font-style: normal;
	color: dodgerblue
}

/* 게시판 */
.boardArea {
	margin-top: 30px;
	padding: 0 20px;
}

.boardArea table {
	width: 100%;
}

.boardArea th {
	padding: 11px 0 12px;
	font-size: 15px;
	line-height: 17px;
	font-weight: 500;
	border: 1px solid #e8e8e8;
	border-bottom: 0 none;
	background: #e2f0f3;
}

.boardArea td {
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 5px;
	text-align: center;
}

.boardArea tr td:nth-child(2) {
	text-align: left;
}

.boardArea .pagination {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
}

.tableArea {
	margin-top: 10px;
}

.btnArea {
	margin-top: 10px;
	text-align: right;
}

.btnArea button, .btnArea a {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #26aae1;
	color: #fff;
}

.searchArea button {
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #26aae1;
	color: #fff;
}

.boardDetail {
	width: 700px;
	margin: 50px auto 0;
	padding: 10px 10px 20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 2px rgb(0 0 0/ 45%);
}

.boardDetail .titleArea {
	
}

.boardDetail .titleArea .title {
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	box-sizing: border-box;
}

.boardDetail .writerArea {
	border-top: 1px solid #ddd;
	position: relative;
	height: 50px;
	line-height: 50px;
	padding: 0 150px 0 10px;
	box-sizing: border-box;
}

.boardDetail .writerArea>span {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
}

.boardDetail .contentArea {
	border-top: 1px solid #ddd;
	height: 400px;
	padding: 10px;
	box-sizing: border-box;
}

.boardInputArea label {
	display: inline-block;
	height: 40px;
	line-height: 40px;
}

/* 회원가입 */
.formArea {
	margin: 50px auto;
	width: 1300px;
	padding: 20px;
}

.formArea input {
	margin-bottom: 10px;
}

.formArea h2 {
	margin-bottom: 30px;
	text-align: center;
}

.formArea .btn_check {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	background: #4588d7;
	border: 0 none;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	color: #fff;
}

/* 채팅 UI */
.chat_room {
	padding: 50px 20px;
}

.chat_room .to_user {
	text-align: center;
	color: #111;
}

.chat_room .chatBox {
	display: block;
	margin: 50px auto 0;
	width: 1000px;
	font-size: 13px;
	border: 1px solid #3d3d3e;
}

.chat_room .chat-content {
	overflow: auto;
	height: 500px;
	padding: 20px;
}

.chat_room .chatBox .card {
	border-radius: 4px;
}

.chat_room .chatBox .card-header {
	background: #683db8;
}

.chat_room .header-title {
	height: 50px;
}

.chat_room .card-header-title i {
	font-size: 10px;
	color: #32e4cd;
	margin-right: 6px;
}

.chat_room .card-header .card-header-title {
	color: #FFF;
}

.chat_room .chat-content small {
	margin: 0;
}

.chat_room .chat-content p {
	background: #ecf1f8;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 0;
}

.chat_room .card-footer {
	font-size: 0;
	border-top: 1px solid #dbdbdb;
}

.chat_room .card-footer .chat-textarea {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 100px);
	font-size: 14px;
	padding: 8px;
	height: 40px;
	border: none;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none;
}

.chat_room .card-footer button {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 40px;
	line-height: 40px;
	background-color: #f2f2f2;
	text-align: center;
	font-size: 14px;
}

.chat_room .chat-message-group:after {
	content: "";
	display: block;
	clear: both;
}

.chat_room .chat-message-group .chat-messages {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.chat_room .chat-message-group .chat-messages .message {
	position: relative;
}

.chat_room .chat-message-group .chat-messages .message .message_read {
	position: absolute;
	left: -10px;
	bottom: 5px;
	color: #000;
}

.chat_room .chat-message-group .message {
	float: left;
	padding: 10px;
	background: #ecf1f8;
	font-size: 13px;
	border-radius: 5px;
	margin-bottom: 3px;
}

.chat_room .chat-messages .from {
	float: left;
	display: block;
	width: 100%;
	text-align: left;
	font-size: 11px;
}

.chat_room .chat-thumb img {
	border-radius: 40px;
}

.chat_room .chat-message-group.writer-user .chat-messages {
	float: right;
	width: 100%;
}

.chat_room .chat-message-group.writer-user .chat-messages .message {
	float: right;
	background: #683db8;
	color: #FFF;
}

.chat_room .chat-message-group.writer-user .chat-messages .from {
	float: left;
	display: block;
	width: 100%;
	text-align: right;
}

.chat_room .card-header-title img {
	border-radius: 40px;
}

.user_find_area {
	margin: 50px auto;
	padding: 50px 20px;
	display: block;
	width: 700px;
	border: 1px solid #111;
	box-sizing: border-box;
}

.user_find_area>h2 {
	padding: 0 0 30px;
	text-align: center;
}

.user_find_area .find_search {
	font-size: 0;
}

.user_find_area .find_search input[type=text] {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 90px);
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	font-size: 14px;
}

.user_find_area .find_search button {
	display: inline-block;
	vertical-align: top;
	width: 90px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #ddd;
	border: 0;
	font-size: 14px;
	text-align: center;
	color: #111;
}

.user_find_area .find_list {
	margin-top: 50px;
	border-top: 1px solid #ddd;
}

.user_find_area .find_list .list {
	
}

.user_find_area .find_list .list>li {
	display: block;
	position: relative;
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding: 0 10px;
	border-bottom: 1px solid #ddd;
	padding: 0;
	font-size: 14px;
	color: #111;
}

.user_find_area .find_list .list>li button {
	position: absolute;
	right: 0;
	top: 0;
	width: 90px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: dodgerblue;
	color: #fff;
}

.user_find_area .find_list .list>li:hover {
	background: #dddddd4d;
}

.user_find_area .find_list .list.type_chat>li {
	height: auto;
	line-height: 15px;
	padding: 17px 10px 10px;
	font-size: 0;
}

.user_find_area .find_list .list.type_chat>li .img_area {
	display: inline-block;
	vertical-align: top;
}

.user_find_area .find_list .list.type_chat>li .img_area img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.user_find_area .find_list .list.type_chat>li .text_area {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-right: 100px;
	width: calc(100% - 80px);
	margin: 4px 0 0 30px;
	font-size: 15px;
	box-sizing: border-box;
}

.user_find_area .find_list .list.type_chat>li .text_area.no_text {
	padding-top: 0;
	margin-top: 0;
	height: 50px;
	line-height: 50px;
}

.user_find_area .find_list .list.type_chat>li .text_area .last_text {
	display: block;
	margin-top: 10px;
}

.user_find_area .find_list .list.type_chat>li .text_area .time {
	position: absolute;
	right: 0px;
	top: 8px;
	font-size: 11px;
}

.user_find_area .find_list .list.type_chat>li .text_area .right_list {
	position: absolute;
	right: 0;
	top: 0;
}

.user_find_area .find_list .list.type_chat>li .text_area .right_list>li
	{
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
}

.user_find_area .find_list .list.type_chat>li .text_area .right_list>li .add
	{
	cursor: pointer;
	color: #666;
}

.user_find_area .find_list .list.type_chat>li .room_delete {
	z-index: 1;
	position: absolute;
	right: 10px;
	top: 7px;
	font-size: 12px; 
	cursor: pointer;
}

/* 공통 팝업 */
#pop {
	z-index: 100;
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
}

#pop.on {
	display: block;
}

#pop .pop_in {
	z-index: 101;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 30px;
	width: 400px;
	border: 1px solid #ccc;
	background: #fff;
	box-sizing: border-box;
}

#pop .pop_in .title {
	font-size: 20px;
	color: #000;
}

#pop .pop_in .input_wrap {
	margin-top: 15px;
}

#pop .pop_in .input_wrap input {
	display: inline-block;
	margin-top: 10px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	font-size: 13px;
	color: #000;
}

#pop .pop_in .input_wrap label {
	display: inline-block;
	width: 100%;
	font-size: 13px;
	color: #000;
}

#pop .pop_in .btn_area {
	margin-top: 30px;
}

#pop .pop_in .btn_area .btn_common {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
}

#pop .pop_in .btn_area .btn_common ~ .btn_common {
	margin-top: 5px;
}

/* 체크박스 */
.check_container {display: block;position: relative;margin:0;padding:0;cursor: pointer; padding: 0 0 0 28px;height:20px;line-height:19px;font-size: 14px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.check_container input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.checkmark {position: absolute;top: 1px;left: 6px;height: 16px;width: 16px;background-color: #fff;border:1px solid #ddd; -webkit-box-sizing: border-box;box-sizing: border-box;}
.check_container:hover input ~ .checkmark {background-color: #eaeaea;}
.check_container input:checked ~ .checkmark {background-color: #fff;}
.checkmark:after {content: "";position: absolute;display: none;}
.check_container input:checked ~ .checkmark:after {display: block;}
.check_container .checkmark:after {left: 4px;top: 1px;width: 3px;height: 7px;border: solid #424242;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
